
@import "../Global/_Variables.scss";

.main-background{
    width: 110%;
    height: 350px;
    margin-left: -15px;
    background-color: #141d27;
    background-image: url(/Media/img/background_main.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
     
    @media screen and (max-width: $site-width-sm) {
	    background-attachment: initial;
        height: 200px;
	}
}
.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
    position: absolute;

    .navbar-collapse, .navbar-form{
        border-color: transparent;
    }
}

.container{
    &.body-content{
        top: 0;
        width: 100%;
        margin: 0;
        left: 0;
    }
}