@model IEnumerable<TimeS.Model.Usuario>

@{
    ViewBag.Title = "Ver";
}

<h2>Ver</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered" ng-controller="listUserController">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>
    </tr>
    <tbody ng-repeat="user in users">
        <tr>
            <td>{{user.Nome}}</td>
            <td>{{user.Prioridade}}</td>
            <td>{{user.Foto}}</td>
        </tr>
    </tbody>
</table>
