@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Usuario", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        @*<ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Bem Vindo " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="/Usuario/LogOff">Log off</a></li>
        </ul>*@
        <ul class="nav navbar-nav navbar-right">
            <li>
                <img src="{{UsuarioAtual.Foto}}" style="max-width: 20px; max-height: 20px; margin: 15px -15px; position: absolute;" />
                <a href="#" title="Manage">Bem Vindo {{UsuarioAtual.Nome}}</a>
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="registro">Registrar-Se</a></li>
        <li><a ui-sref="login">Login</a></li>
    </ul>
}
