@{
    ViewBag.Title = "Home";
}

<link href="~/Content/Styles/Site/Home/Index.css" rel="stylesheet" />
<div class="main-background">
</div>

<div class="main">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-2">
            <div class="row">
                <div class="col-md-4">
                    <h2>Poupe Seu Dinheiro</h2>
                    <p>
                        Nos criadores do Time$ Sabemos como ele é importante para você e em virtude disso desenvolvemos uma aplicação feita para você
                    </p>
                    <p><a class="btn btn-default" href="#">Leia Mais &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Tempo é dinheiro</h2>
                    <p>Controle seu tempo, agilize suas tarefas, faça mais em menos tempo!</p>
                    <p><a class="btn btn-default" href="#">Leia Mais &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Comece agora</h2>
                    <p>Aumente seu controle, poupe seu tempo, seja feliz :)</p>
                    <p><a class="btn btn-default" ui-sref="detalhesUsuario">Começe agora &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
</div>